#mainCard {
    max-width: 50%;
    max-height: 25%;
    margin: 2% !important;
    justify-content: center !important;
    margin-left: 25% !important;
    transition: all 1s;
}

#mainCard:hover {
    max-width: 60%;
    max-height: 30%;
    margin-left: 22% !important;
}

#imgCard {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}


#content {
    margin-left: 50%;
    margin-right: 5%;
}

#homeTitle {
    margin: 2% !important;
    margin-right: 5% !important;
    color: #e91e63;
    justify-content: center !important;
    font-weight: 700 !important;
    font-size: x-large;
    margin-left: 3% !important;
    font-family: 'Rubik Iso', cursive !important;
}

#homeTitle2 {
    margin-left: 69%;
    font-weight: 700 !important;
    font-size:x-large;
    font-family: 'Rubik Iso', cursive !important;
    color: rgb(26, 171, 38);
}

#seeButton {
    margin-left: 45%;
    color:black;
    transition-property: background-color;
    transition-duration: 1s;
}

#seeButton:hover {
    background-color: #e91e63;
}

#aboutP {
    font-weight: 700 !important;
    font-size:x-large;
    margin: 4%;
    font-family: 'Rubik Iso', cursive !important;
    color: rgb(239, 202, 39);
    margin-left: 6% !important;
}

#aboutDescr {
    font-weight: 300 !important;
    font-size: smaller;
    margin: 3%;
    font-family: 'Lemonada', cursive !important;
    color:rgb(26, 18, 181) !important;
}

#aboutT {
    font-weight: 700 !important;
    font-size: x-large;
    margin: 4%;
    font-family: 'Rubik Iso', cursive !important;
    color: #e91e63;
    margin-left: 13% !important;
}

#offers {
    font-weight: 700 !important;
    font-size: x-large;
    font-family: 'Rubik Iso', cursive !important;
    color: rgb(26, 171, 38);
    margin: 4%;
}

#contText {
    font-family: 'Rubik Iso', cursive !important;
    color: rgb(239, 202, 39);
    margin-left: 69% !important;
    margin-top: 0;
    font-weight: 700 !important;
    font-size: large;
    margin-bottom: 6% !important;
}

#cardIMGs {
    flex-direction: row !important;
    display: 'flex' !important;
}